<div class='multisteps-form__panel js-active' data-animation='slideHorz'>
	<div class='wizard-forms'>
		<div class='inner pb-50 clearfix'>
			<div class='form-content pera-content'>
				<div class='step-inner-content'>
					<span class='step-no text-blue' style='margin-bottom: 2px;'>brujulaconstituyente.cl</span>
					<span>
						<br />
						<img src="/assets/img/plebiscito/portada.jpeg" style="height: 700px;">
					</span>

				</div>
			</div>
		</div>
		<!-- /.inner -->
		<div class='actions'>
			<ul>
				<li>
					<span class='js-btn-next' id='btnStart' title='NEXT'>Comenzar
						<i class='js-btn-next fa fa-arrow-right'></i></span>
				</li>
			</ul>
		</div>
	</div>
</div>