<div class='multisteps-form__panel js-active' data-animation='slideHorz'>
	<div class='wizard-forms'>
		<div class='inner pb-50 clearfix'>
			<div class='form-content pera-content'>
				<div class='step-inner-content'>
					<span class='step-no text-blue' style='margin-bottom: 2px;'>brujulaconstituyente.cl</span>
					<h1>Presidenciales</h1>
					<span>
						<br />
						<ul>
							<li class='index'><b>21 de Noviembre – 1° vuelta</b>
								<p>(Presidencial, Parlamentarias y Consejeros Regionales)</p>
							</li>
							<li class='index'>19 de Diciembre – 2° vuelta</li>
						</ul>
						<br />
						<span class='index'>Esperamos ayudarte a encontrar a tu candidat@</span>
						<br />
						<center><img src='./assets/img/candidates.jpeg' alt='' width='450' height='150' /></center>
						<h2>INFÓRMATE Y PARTICIPA!</h2>
					</span>

				</div>
			</div>
		</div>
		<!-- /.inner -->
		<div class='actions'>
			<ul>
				<li>
					<span class='js-btn-next' id='btnStart' title='NEXT'>Comenzar
						<i class='js-btn-next fa fa-arrow-right'></i></span>
				</li>
			</ul>
		</div>
	</div>
</div>