<div class='multisteps-form__panel js-active' data-animation='slideHorz'>
	<div class='wizard-forms'>
		<div class='inner pb-50 clearfix'>
			<div class='form-content pera-content'>
				<div class='step-inner-content'>
					<span class='step-no text-blue' style='margin-bottom: 2px;'>brujulaconstituyente.cl</span>
					<h1>Presidenciales</h1>
					<span>
						<br />
						<h2>El proceso ha comenzado:</h2>
						<ul>
							<li class='index'>Primarias: <b>18 de Julio</b></li>
							<li class='index'>Presidencial: <b>21 de Noviembre</b></li>
						</ul>
						<br />
						<span class='index'>Esperamos ayudarte a encontrar a tu candidat@</span>
						<br />
						<img src='./assets/img/candidates.jpeg' alt='' width='500' height='150' />
						<h2>INFÓRMATE Y PARTICIPA!</h2>
						<span class='index'>(Todos pueden votar en primarias)</span>
					</span>

				</div>
			</div>
		</div>
		<!-- /.inner -->
		<div class='actions'>
			<ul>
				<li>
					<span class='js-btn-next' id='btnStart' title='NEXT'>Comenzar
						<i class='js-btn-next fa fa-arrow-right'></i></span>
				</li>
			</ul>
		</div>
	</div>
</div>