<div class='multisteps-form__panel js-active' data-animation='slideHorz'>
	<div class='wizard-forms'>
		<div class='inner pb-50 clearfix'>
			<div class='form-content pera-content'>
				<div class='step-inner-content'>
					<span class='step-no text-blue' style='margin-bottom: 2px;'>brujulaconstituyente.cl</span>
					<h1>Plebiscito de Salida</h1>
					<span>
						<br />
						<ul>
							<li class='index'><b>4 de Septiembre</b></li>
						</ul>
						<br />
						<span class='index'>Esperamos ayudarte a definir tu voto de manera informada:</span>
						<br />
						<div class="container">
							<div class="row">
							<div class="col-xs-6">
								<center><img src='./assets/img/plebiscito/borrador.png' alt='' width='200' /></center>
							</div>
						</div>
						</div>
						<h2>INFÓRMATE Y PARTICIPA!</h2>
					</span>

				</div>
			</div>
		</div>
		<!-- /.inner -->
		<div class='actions'>
			<ul>
				<li>
					<span class='js-btn-next' id='btnStart' title='NEXT'>Comenzar
						<i class='js-btn-next fa fa-arrow-right'></i></span>
				</li>
			</ul>
		</div>
	</div>
</div>