<div class='multisteps-form__panel js-active' data-animation='slideHorz'>
	<div class='wizard-forms'>
		<div class='inner pb-50 clearfix'>
			<div class='form-content pera-content'>
				<div class='step-inner-content'>
					<span class='step-no text-blue' style='margin-bottom: 2px;'>brujulaconstituyente.cl</span>
					<h1>Plebiscito de Salida</h1>
					<span>
						<br />
						<ul>
							<li class='index'>El <b>4 de Septiembre</b> será el plebiscito de salida en el que podrás elegir:</li>
							<li style="index"><b>-- Apruebo</b>, la <a href="/assets/files/BorradoConstitución2022.pdf">constitución de 2022</a></li>
							<li style="index"><b>-- Rechazo</b>, para mantener la <a href="/assets/files/Constitucion1980.pdf">constitución de 1980</a></li>
						</ul>
						<br />
						<span style="index"><b>Esperamos ayudarte a definir tu voto de manera informada</b></span>
						<br /><br>
						<span style="index">
							1).- Comparando las diferencias entre constituciones y<br>
							2).- Evaluando los temas  nuevos que se incluyen la constitución de 2022 y NO estaban en la 1980.
						</span>
						<br><br>
						<span style="index">
							Elije alternativas y descubre tu % de afinidad con cada texto.
						</span>
						<h2>INFÓRMATE Y PARTICIPA!</h2>
					</span>

				</div>
			</div>
		</div>
		<!-- /.inner -->
		<div class='actions'>
			<ul>
				<li>
					<span class='js-btn-next' id='btnStart' title='NEXT'>Comenzar
						<i class='js-btn-next fa fa-arrow-right'></i></span>
				</li>
			</ul>
		</div>
	</div>
</div>