<div class="multisteps-form__panel js-active" data-animation="slideHorz">
    <div class="wizard-forms">
        <div class="inner pb-100 clearfix">
            <div class="form-content pera-content">
                <div class="step-inner-content">
                    <span class="d-none d-sm-none d-md-block step-no">Paso 1</span>

                    <h2>Cual es tu nombre o apodo?</h2>
                    <p class="text-danger">
                        Esta informacion no sera guardada en ningún registro!
                    </p>

                    <div class="form-inner-area">
                        <input type="text" name="name" class="form-control" placeholder="Ingrese su nombre *" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.inner -->
        <div class="actions">
            <ul>
                <li>
                    <span class="js-btn-next" title="NEXT">Siguiente <i
                            class="js-btn-next fa fa-arrow-right"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>