<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="wizard-forms">
        <div class="inner pb-100 clearfix">
            <div class="form-content pera-content">
                <div class="step-inner-content">
                    <span class="d-none d-sm-none d-md-block step-no">Paso 2</span>

                    <h2>Cual es tu comuna?</h2>
                    <p class="text-danger">
                        Esta informacion no sera guardada en ningún registro!
                    </p>

                    <div class="form-inner-area">
                        <div class="language-select">
                            <label for="regions">Región</label>
                            <select id="regions" class="form-control selects" required />
                            <option selected disabled>Seleccione su región</option>
                            </select>
                        </div>
                        <div class="language-select">
                            <label for="comunes">Comuna</label>
                            <select name="comune" id="comunes" class="form-control selects" required />
                            <option selected disabled>Seleccione su comuna</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.inner -->
        <div class="actions">
            <ul>
                <li>
                    <span class="js-btn-next" title="NEXT">Siguiente <i
                            class="js-btn-next fa fa-arrow-right"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>