<div class="multisteps-form__panel" data-animation="slideHorz">
    <div class="wizard-forms">
        <div class="inner clearfix">
            <div class="form-content pera-content">
                <div class="step-inner-content">
                    <span class="d-none d-sm-none d-md-block step-no">Paso 2</span>

                    <br>
                    <input type="hidden" name="comune" id="comunes" value="19">
                    <br>
                    <h2 style="color: red;">Parte 1, Comparativa</h2>
                    <center><h1 style="font-family: 'Times New Roman', Times, serif; font-size: 100px;">1980 <br> vs <br> 2022</h1></center>
                </div>
            </div>
        </div>
        <!-- /.inner -->
        <div class="actions">
            <ul>
                <li>
                    <span class="js-btn-next" title="Siguiente">Siguiente <i
                            class="js-btn-next fa fa-arrow-right"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>