<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4><a href="https://brujulaconstituyente.cl">brujulaconstituyente.cl</a> </h4>
                    <br>
                    <h3><span class="text-danger">Jesus Padilla</span> acabas de poner a prueba a <span
                            class="text-danger">63</span> candidatos del
                        distrito <span class="text-danger">12</span>
                    </h3>
                    <br>
                    <h3 class="text-uppercase">Resultados:</h3>
                    <br>
                    <div class="row">
                        <div class="col-12 text-right">

                            <div class="row">
                                <div class="col">DISTRITO:</div>
                                <div class="col text-right">12</div>
                            </div>
                            <div class="row">
                                <div class="col">HABITANTES:</div>
                                <div class="col text-right">402.333</div>
                            </div>
                            <div class="row">
                                <div class="col">CANDIDATOS:</div>
                                <div class="col text-right">60</div>
                            </div>
                            <div class="row">
                                <div class="col">CUPOS:</div>
                                <div class="col text-right">1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h3 class="text-uppercase">Los más cercanos</h3>
            <br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>PAOLA MARIA VILLEGAS DELGADO</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ.40</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ. APRUEBO DIGNIDAD</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="https://twitter.com/villegas_pao"
                                    target="_blank">https://twitter.com/villegas_pao</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: #61b329; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        67.3%
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>PAOLA MARIA VILLEGAS DELGADO</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ.40</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ. APRUEBO DIGNIDAD</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="https://twitter.com/villegas_pao"
                                    target="_blank">https://twitter.com/villegas_pao</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: #61b329; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        67.3%
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>PAOLA MARIA VILLEGAS DELGADO</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ.40</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ. APRUEBO DIGNIDAD</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="https://twitter.com/villegas_pao"
                                    target="_blank">https://twitter.com/villegas_pao</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: #61b329; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        67.3%
                    </div>
                </div>
            </div>
            <br>

            <hr class=" compass">
            <h3 class="text-uppercase">El más distante</h3>
            <br>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row border">
                            <div class="col-sm-12 h6">
                                <strong>PAOLA MARIA VILLEGAS DELGADO</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Numero:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ.40</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Lista:
                            </div>
                            <div class="col-sm-9 h6">
                                <strong>YQ. APRUEBO DIGNIDAD</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-sm-3 col-md-2">
                                Web:
                            </div>
                            <div class="col-sm-9">
                                <a class="" href="https://twitter.com/villegas_pao"
                                    target="_blank">https://twitter.com/villegas_pao</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3" style="background-color: red; color: #fff ;
                                    font-size: 50px; text-align: center;">
                        11.3%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 h4">
            <div class="d-md-none d-lg-none d-xl-none">
                <br><br>
            </div>
            <h1>Sigue informandote!</h1>
            <br>
            <ul>
                <li>Conoce a los candidatos:</li>
                <li><a href="https://quienesson.cl/" target="_blank">https://quienesson.cl/</a></li>
                <br>
                <li>El Proceso:</li>
                <li><a href="https://plataformacontexto.cl/" target="_blank">https://plataformacontexto.cl/</a></li>
                <br>
                <li>Participa:</li>
                <li><a href="https://ahoranostocaparticipar.cl/" target="_blank">https://ahoranostocaparticipar.cl/</a>
                </li>
                <br>
                <li>
                    <a href="https://brujulaconstituyente.cl"><button type="button"
                            class="btn btn-lg btn-success">Volver a participar</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>