<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Brujula Constituyente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome-all.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/colors/switch.css" />
    <!-- Color Alternatives -->
    <link href="/assets/css/colors/color-2.css" rel="alternate stylesheet" type="text/css" title="color-2" />
    <link href="/assets/css/colors/color-3.css" rel="alternate stylesheet" type="text/css" title="color-3" />
    <link href="/assets/css/colors/color-4.css" rel="alternate stylesheet" type="text/css" title="color-4" />
    <link href="/assets/css/colors/color-5.css" rel="alternate stylesheet" type="text/css" title="color-5" />
</head>

{{{ body }}}

</html>